<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин этот ответ (1-женщины, 2-мужчины) 
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [5]:
df[df['gender']==1]['height'].describe()

count    45530.000000
mean       161.355612
std          7.052726
min         55.000000
25%        157.000000
50%        161.000000
75%        166.000000
max        250.000000
Name: height, dtype: float64

In [6]:
df[df['gender']==2]['height'].describe()

count    24470.000000
mean       169.947895
std          7.228895
min         65.000000
25%        165.000000
50%        170.000000
75%        175.000000
max        207.000000
Name: height, dtype: float64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины они
- женщины

In [7]:
df[df['gender']==1]['alco'].describe()

count    45530.000000
mean         0.025500
std          0.157639
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: alco, dtype: float64

In [8]:
df[df['gender']==2]['alco'].describe()

count    24470.000000
mean         0.106375
std          0.308323
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: alco, dtype: float64

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12 этот ответ
- 16

In [9]:
df[df['gender']==1]['smoke'].mean()

0.017856358444981332

In [10]:
df[df['gender']==2]['smoke'].mean()

0.21888026154474868

In [11]:
round(df[df['gender']==2]['smoke'].mean() / df[df['gender']==1]['smoke'].mean())

12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20 этот ответ

In [12]:
df['age_months']=df['age']/30

In [13]:
df['age_months'].head()

id
0    613.100000
1    674.266667
2    628.566667
3    587.433333
4    582.466667
Name: age_months, dtype: float64

In [14]:
df[df['smoke']==0]['age_months'].median() - df[df['smoke']==1]['age_months'].median()

19.899999999999977

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет: первая с верхним артериальным давлением меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3 ответ
- 4
- 5

In [18]:
df['age_years']=round(df['age']/365)

In [19]:
df['age_years'].head()

id
0    50.0
1    55.0
2    52.0
3    48.0
4    48.0
Name: age_years, dtype: float64

In [27]:
my_df=df[(df['gender']==2) & (df['age_years']>60) & (df['age_years']<=64) & (df['smoke']==1)]

In [36]:
my_df[(my_df['ap_hi']<120) & (my_df['cholesterol']==1)]['cardio'].value_counts()

0    28
1    10
Name: cardio, dtype: int64

In [38]:
my_df[(my_df['ap_hi']<180) & (my_df['ap_hi']>=160) & (my_df['cholesterol']==3)]['cardio'].value_counts()

1    10
0     1
Name: cardio, dtype: int64

In [40]:
round((10/11)/(10/38))

3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы false
- У женщин в среднем BMI выше, чем у мужчин true
- У здоровых в среднем BMI выше, чем у больных false
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин true

In [42]:
df['bmi']=df['weight']/((df['height']/100)**2)

In [44]:
df['bmi'].median()

26.374068120774975

In [45]:
df[df['gender']==1]['bmi'].describe()

count    45530.000000
mean        27.987583
std          6.495638
min          8.001829
25%         23.875115
50%         26.709402
75%         31.044558
max        298.666667
Name: bmi, dtype: float64

In [46]:
df[df['gender']==2]['bmi'].describe()

count    24470.000000
mean        26.754442
std          5.162752
min          3.471784
25%         23.781213
50%         25.910684
75%         29.043709
max        180.678074
Name: bmi, dtype: float64

In [47]:
df[df['cardio']==1]['bmi'].describe()

count    34979.000000
mean        28.566061
std          6.383666
min          3.471784
25%         24.489796
50%         27.471384
75%         31.555556
max        298.666667
Name: bmi, dtype: float64

In [48]:
df[df['cardio']==0]['bmi'].describe()

count    35021.000000
mean        26.548175
std          5.606469
min          7.022248
25%         23.388687
50%         25.476660
75%         28.763971
max        237.768633
Name: bmi, dtype: float64

In [49]:
df[(df['cardio']==0) & (df['gender']==1) & (df['alco']==0)]['bmi'].describe()

count    22332.000000
mean        26.845407
std          5.843207
min          9.331007
25%         23.437500
50%         25.654372
75%         29.384676
max        237.768633
Name: bmi, dtype: float64

In [50]:
df[(df['cardio']==0) & (df['gender']==2) & (df['alco']==0)]['bmi'].describe()

count    10748.000000
mean        25.872638
std          4.918895
min         14.609204
25%         23.306680
50%         25.102391
75%         27.755102
max        170.414201
Name: bmi, dtype: float64

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10 ответ
- 11

In [51]:
df[(df['ap_hi']<df['ap_lo'])]

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_months,age_years,bmi
id,,,,,,,,,,,,,,,
314,17489,2,183,98.0,160,1100,1,2,1,0,1,1,582.966667,48.0,29.263340
334,21932,2,157,60.0,160,1000,2,1,0,0,0,1,731.066667,60.0,24.341758
357,18217,1,150,83.0,140,800,1,1,0,0,1,1,607.233333,50.0,36.888889
458,23407,1,176,63.0,160,1000,2,2,0,0,0,1,780.233333,64.0,20.338326
482,18704,1,154,81.0,140,1000,2,1,0,0,1,1,623.466667,51.0,34.154158
680,15226,1,150,95.0,150,1033,1,1,0,0,1,1,507.533333,42.0,42.222222
681,19099,1,156,65.0,120,150,2,1,0,0,1,0,636.633333,52.0,26.709402
805,20430,2,173,101.0,200,1000,1,1,0,0,1,1,681.000000,56.0,33.746533
815,21281,1,168,78.0,14,90,2,1,0,0,1,1,709.366667,58.0,27.636054
886,18963,1,165,92.0,140,1000,1,1,1,0,1,1,632.100000,52.0,33.792470
913,20457,2,169,68.0,70,110,1,1,0,0,1,0,681.900000,56.0,23.808690
928,18190,1,166,57.0,190,1100,1,1,0,0,1,1,606.333333,50.0,20.685150
932,21842,1,156,72.0,180,1000,2,1,0,0,0,1,728.066667,60.0,29.585799
1015,23407,2,170,74.0,140,1000,1,1,0,0,1,1,780.233333,64.0,25.605536
1229,17405,2,170,84.0,150,1100,1,1,1,0,0,1,580.166667,48.0,29.065744
1294,21867,2,175,70.0,14,90,3,1,0,0,1,1,728.900000,60.0,22.857143
1360,18225,1,172,65.0,11,80,1,3,0,0,1,0,607.500000,50.0,21.971336
1389,21043,2,168,82.0,160,1000,2,1,0,0,0,1,701.433333,58.0,29.053288
1438,15906,1,167,71.0,150,1001,2,1,0,0,1,1,530.200000,44.0,25.458066
1494,21107,2,169,76.0,140,1000,3,3,1,0,1,1,703.566667,58.0,26.609713
1519,20344,1,152,55.0,140,1000,3,3,0,0,1,1,678.133333,56.0,23.805402
1803,23578,2,169,86.0,130,1000,1,1,0,0,1,1,785.933333,65.0,30.110991
2110,15283,1,153,49.0,170,1000,2,1,0,0,1,1,509.433333,42.0,20.932120
2148,21179,2,171,68.0,140,1000,2,1,0,0,0,1,705.966667,58.0,23.255019
2231,18958,1,172,68.0,170,1200,1,1,0,0,1,1,631.933333,52.0,22.985398
2236,17289,2,168,63.0,150,1100,1,1,1,1,1,0,576.300000,47.0,22.321429
2260,19201,1,165,66.0,12,80,1,1,0,0,1,0,640.033333,53.0,24.242424
2285,14369,2,170,79.0,150,1100,1,1,0,0,0,1,478.966667,39.0,27.335640
2301,22591,1,165,71.0,14,80,1,1,0,0,1,1,753.033333,62.0,26.078972
2307,20588,2,160,55.0,180,1000,1,1,0,0,1,1,686.266667,56.0,21.484375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97776,21973,1,165,63.0,12,80,1,1,0,0,1,0,732.433333,60.0,23.140496
97797,22445,2,178,84.0,190,1000,1,1,1,0,1,1,748.166667,61.0,26.511804
97907,19062,1,166,70.0,160,10000,2,1,0,0,1,1,635.400000,52.0,25.402816
98039,21217,1,160,59.0,12,80,1,1,0,0,1,0,707.233333,58.0,23.046875
98110,23290,1,165,68.0,140,1000,1,1,0,0,0,1,776.333333,64.0,24.977043
98143,15259,1,161,74.0,160,1000,1,1,0,0,1,1,508.633333,42.0,28.548281
98213,18755,1,158,74.0,14,90,1,1,0,0,1,1,625.166667,51.0,29.642685
98268,20271,2,165,76.0,160,1000,1,1,0,0,1,1,675.700000,56.0,27.915519
98329,16748,1,161,65.0,140,1000,2,1,0,0,1,1,558.266667,46.0,25.076193
98356,19102,2,172,92.0,140,1000,1,1,0,0,1,1,636.733333,52.0,31.097891
98400,19467,2,163,71.0,150,1000,1,1,0,0,1,1,648.900000,53.0,26.722873
98460,19783,1,170,82.0,140,1000,1,1,0,0,1,1,659.433333,54.0,28.373702
98568,19107,1,154,77.0,14,90,1,1,0,0,1,0,636.900000,52.0,32.467532
98632,19065,2,186,66.0,140,1000,1,1,0,0,1,1,635.500000,52.0,19.077350
98646,18929,2,175,84.0,160,1000,1,1,0,0,0,1,630.966667,52.0,27.428571
98743,15442,2,176,65.0,12,80,1,1,0,0,1,0,514.733333,42.0,20.983988
98775,22656,2,160,98.0,180,1000,1,1,0,0,0,0,755.200000,62.0,38.281250
98841,19624,2,170,77.0,160,1000,3,2,0,0,1,1,654.133333,54.0,26.643599
98981,21695,1,158,63.0,150,1000,2,1,0,0,1,1,723.166667,59.0,25.236340
99006,21059,2,168,63.0,120,602,1,1,0,0,0,0,701.966667,58.0,22.321429
99235,17314,2,171,93.0,140,1000,3,1,1,0,1,1,577.133333,47.0,31.804658
99305,14446,1,160,63.0,160,1000,2,1,0,1,0,1,481.533333,40.0,24.609375
99328,21243,1,155,69.0,13,90,1,3,0,0,1,1,708.100000,58.0,28.720083
99334,22488,2,170,68.0,130,1100,1,1,0,0,1,0,749.600000,62.0,23.529412
99454,14674,1,154,90.0,130,1000,2,2,0,0,1,1,489.133333,40.0,37.949064
99659,23330,1,167,81.0,160,1000,1,1,0,0,1,1,777.666667,64.0,29.043709
99798,21808,1,152,56.0,160,1000,1,1,0,0,1,1,726.933333,60.0,24.238227
99807,21239,2,168,95.0,160,1000,1,1,0,0,1,1,707.966667,58.0,33.659297
99816,22417,2,166,78.0,170,1000,1,1,0,0,0,0,747.233333,61.0,28.305995
99955,21416,2,168,63.0,140,1000,1,1,0,0,1,1,713.866667,59.0,22.321429

In [53]:
df['height'].quantile(.025)

150.0

In [54]:
df['height'].quantile(.975)

180.0

In [55]:
df['weight'].quantile(.025)

51.0

In [56]:
df['weight'].quantile(.975)

108.0

In [59]:
filt = df[(df['ap_hi']<df['ap_lo']) | (df['height'] < df['height'].quantile(.025)) | (df['height'] > df['height'].quantile(.975)) | (df['weight'] < df['weight'].quantile(.025)) | (df['weight'] > df['weight'].quantile(.975))]

In [60]:
filt

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_months,age_years,bmi
id,,,,,,,,,,,,,,,
23,14532,2,181,95.0,130,90,1,1,1,1,1,0,484.400000,40.0,28.997894
24,16782,2,172,112.0,120,80,1,1,0,0,0,1,559.400000,46.0,37.858302
33,23376,2,156,45.0,110,60,1,1,0,0,1,0,779.200000,64.0,18.491124
59,19764,1,154,50.0,170,80,3,1,0,0,1,1,658.800000,54.0,21.082813
81,20330,2,187,115.0,130,90,1,1,0,1,1,0,677.666667,56.0,32.886271
87,21752,1,148,80.0,130,90,1,1,0,0,1,1,725.066667,60.0,36.523009
105,20397,2,188,105.0,120,80,1,1,0,0,1,1,679.900000,56.0,29.708013
109,16591,1,159,49.0,120,70,1,1,0,0,1,0,553.033333,45.0,19.382145
114,19570,1,152,110.0,160,90,1,1,0,0,1,1,652.333333,54.0,47.610803
127,15946,2,185,88.0,133,89,2,3,0,0,1,0,531.533333,44.0,25.712199
138,18128,2,183,95.0,125,80,1,3,1,0,1,0,604.266667,50.0,28.367524
142,14499,2,164,48.0,110,70,1,2,1,1,1,1,483.300000,40.0,17.846520
170,19656,2,153,47.0,130,80,3,1,1,0,1,0,655.200000,54.0,20.077748
183,17213,1,153,50.0,120,80,1,1,0,0,1,0,573.766667,47.0,21.359306
184,22536,2,184,82.0,130,80,1,1,0,0,1,0,751.200000,62.0,24.220227
223,21135,1,148,53.0,120,80,1,1,0,0,1,1,704.500000,58.0,24.196494
250,23312,1,148,50.0,120,80,2,1,0,0,1,0,777.066667,64.0,22.826881
257,14557,2,182,75.0,120,80,1,1,0,0,1,0,485.233333,40.0,22.642193
261,14638,2,185,94.0,120,80,1,1,0,0,1,0,487.933333,40.0,27.465303
272,15212,2,183,85.0,120,80,1,1,0,0,1,0,507.066667,42.0,25.381469
287,15954,2,183,92.0,100,70,1,1,0,0,1,0,531.800000,44.0,27.471707
309,21800,2,76,55.0,120,80,1,1,0,0,1,0,726.666667,60.0,95.221607
314,17489,2,183,98.0,160,1100,1,2,1,0,1,1,582.966667,48.0,29.263340
322,20490,2,185,81.0,110,70,1,1,0,0,1,1,683.000000,56.0,23.666910
324,21377,1,149,60.0,120,80,1,1,0,0,0,0,712.566667,59.0,27.025810
334,21932,2,157,60.0,160,1000,2,1,0,0,0,1,731.066667,60.0,24.341758
343,18220,1,142,61.0,120,80,1,1,0,0,1,0,607.333333,50.0,30.251934
357,18217,1,150,83.0,140,800,1,1,0,0,1,1,607.233333,50.0,36.888889
363,20285,1,153,49.0,110,60,1,1,0,0,1,0,676.166667,56.0,20.932120
366,17460,1,165,115.0,150,100,1,1,0,0,1,1,582.000000,48.0,42.240588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99660,21740,2,184,74.0,120,80,1,1,0,0,1,0,724.666667,60.0,21.857278
99670,21213,2,184,73.0,120,80,1,1,0,0,1,1,707.100000,58.0,21.561909
99673,17541,1,141,44.0,100,70,1,1,0,0,1,0,584.700000,48.0,22.131684
99674,20376,1,185,69.0,120,80,1,1,0,0,0,0,679.200000,56.0,20.160701
99678,19784,2,181,63.0,110,80,1,1,0,0,1,0,659.466667,54.0,19.230182
99689,17575,1,164,45.0,115,70,1,1,0,0,1,0,585.833333,48.0,16.731112
99765,14683,1,150,42.0,90,60,1,1,0,0,1,0,489.433333,40.0,18.666667
99785,23646,1,149,49.0,115,75,1,1,0,0,1,0,788.200000,65.0,22.071078
99798,21808,1,152,56.0,160,1000,1,1,0,0,1,1,726.933333,60.0,24.238227
99799,19736,2,188,108.0,130,80,2,2,0,1,0,1,657.866667,54.0,30.556813
99806,20052,1,155,50.0,90,60,2,1,0,0,1,0,668.400000,55.0,20.811655
99807,21239,2,168,95.0,160,1000,1,1,0,0,1,1,707.966667,58.0,33.659297
99808,21906,1,156,48.0,120,80,1,1,0,0,1,0,730.200000,60.0,19.723866
99816,22417,2,166,78.0,170,1000,1,1,0,0,0,0,747.233333,61.0,28.305995
99820,15241,2,183,84.0,110,80,1,1,0,0,1,1,508.033333,42.0,25.082863
99856,14823,1,152,42.0,120,80,1,1,0,0,1,0,494.100000,41.0,18.178670
99861,16002,1,155,48.0,90,70,1,1,0,0,1,0,533.400000,44.0,19.979188
99862,18748,2,186,101.0,110,80,3,1,0,0,1,0,624.933333,51.0,29.194126
99871,17312,1,159,45.0,110,70,2,2,0,0,1,0,577.066667,47.0,17.799929
99901,15843,1,143,70.0,120,90,2,1,0,0,1,1,528.100000,43.0,34.231503
99909,22608,1,149,61.0,130,90,2,3,0,0,1,0,753.600000,62.0,27.476240
99925,21333,1,164,115.0,130,80,1,1,0,0,1,1,711.100000,58.0,42.757287
99930,23305,2,172,113.0,110,80,1,1,0,0,0,1,776.833333,64.0,38.196322
99948,16598,1,161,50.0,110,75,1,1,0,0,1,0,553.266667,45.0,19.289379
99955,21416,2,168,63.0,140,1000,1,1,0,0,1,1,713.866667,59.0,22.321429
99963,21264,2,182,100.0,120,80,1,1,0,0,1,1,708.800000,58.0,30.189591
99972,17500,2,182,110.0,130,90,2,2,0,0,1,1,583.333333,48.0,33.208550
99979,18852,1,151,49.0,120,80,1,1,0,0,1,0,628.400000,52.0,21.490286
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,753.366667,62.0,50.472681
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,635.533333,52.0,31.353579

In [61]:
df.shape[0]

70000

In [62]:
filt.shape[0]

6741

In [64]:
round((filt.shape[0]/df.shape[0])*100)

10